<div class="profile_view_image_container">
    <img class="profile_view_image" src="assets/img/profile-placeholder.png" alt="profile image">
</div>


<ion-card *ngIf="userProfile">
    <ion-card-content>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [value]="userProfile.email" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input [value]="userProfile.firstName" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input [value]="userProfile.lastName" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>            
            <ion-label floating>BirthDate</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" [(ngModel)]="userProfile.dateOfBirth" (ionChange)="onDateChange($event)" [disabled]="true"></ion-datetime>
        </ion-item>
    </ion-card-content>
</ion-card>