<ion-item no-lines class="right_message" *ngIf="userId === message.userToId; else from">
  <ion-avatar item-right>
    <img [src]="message.userToProfile.avatar || 'assets/img/avatar.png'" alt="">
  </ion-avatar>
  <h2>{{message.userFromProfile.firstName}} {{message.userFromProfile.lastName}}</h2>
  <p>{{message.content}}</p>
</ion-item>

<ng-template #from>
  <ion-item no-lines>
    <ion-avatar item-left>
      <img [src]="message.userFromProfile.avatar || 'assets/img/avatar.png'" alt="">
    </ion-avatar>
    <h2>{{message.userFromProfile.firstName}} {{message.userFromProfile.lastName}}</h2>
    <p>{{message.content}}</p>
  </ion-item>
</ng-template>