<ion-item *ngIf="chatIndex % 2 === 0; else right">
  <ion-avatar item-left>
    <img [src]="chatMessage.profile.avatar" alt="">
  </ion-avatar>
  <h2>{{chatMessage.profile.firstName}} {{chatMessage.profile.lastName}}</h2>
  <p>{{chatMessage.lastMessage}}</p>
</ion-item>

<ng-template #right>
  <ion-item class="right_message">
    <ion-avatar item-right>
      <img [src]="chatMessage.profile.avatar" alt="">
    </ion-avatar>
    <h2>{{chatMessage.profile.firstName}} {{chatMessage.profile.lastName}}</h2>
    <p>{{chatMessage.lastMessage}}</p>
  </ion-item>
</ng-template>